@model IEnumerable<Medcs.Models.Appointments>

@{
    ViewData["Title"] = "Index";
}

<h2>Patient Appointments</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPresent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointedAt)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.IsPresent)*@
                    <a class="btn btn-outline-primary" href="/appointments/Present/@item.Id">
                        @(item.IsPresent == 1 ? "Yes" : "No,Mark Present?")
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clinic.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByNavigation.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Session.Id)
                </td>
                <td>
                    <a href="/Payments/Redirect?id=@item.Id">Pay</a> |
                    <a href="/Prescriptions/Appointments/@item.Id">Prescriptions</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
