@model Medcs.Models.SubscriptionInvoices

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SubscriptionInvoices</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IssuedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IssuedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaidAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaidAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clinic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clinic.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-primary" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
