@model IEnumerable<Medcs.Models.SubscriptionInvoices>

@{
    ViewData["Title"] = "Index";
}

<h2><b>Subscription Invoices</b></h2>

<p>

    @Html.ActionLink("+Add New Invoice", "Create", "SubscriptionInvoices", null, new { @class = "btn btn-danger" })

</p>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table id="subscriptioninvoices" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssuedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clinic.Name)

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
